<form id="formularioMensajes" class="form-inline" autocomplete="off">
    <input type="text" id="autor" class="form-control my-2 mr-2" placeholder="Tu Nombre" />
    <input type="text" id="mensaje" class="form-control my-2 mr-2" placeholder="Cuéntanos algo..." />
    <input class="btn btn-primary my-2" type="submit" value="Enviar!" />
</form>