<div class="container mt-3">
    <div class="jumbotron">

        <form id="formLogin">
            <div class="form-group">
                <label for="nombre"><b>Hasta Luego</b></label> <br>
                <label for="nombre"><b>Nombre</b></label>
            </div>
        </form>

        <script src="../server.js"></script>

    </div>
</div>